
/* General */

body {
    padding: 5rem;
}

header {
    display: flex;
    flex-direction: row;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.navigation {
    font-family: Arial, Helvetica, sans-serif;
    width: 35%;
    height: 3rem;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.link {
    display: inline-block;
    width: 5rem;
}

.icon-container {
    display: inline-block;
    width: 3rem;
}

.separator {
    display: inline-block;
    width: 3rem;
    font-size: 1.4rem;
    color: gray;
}

@font-face {
    font-family: AllertaStencil;
    src: url(./fonts/AllertaStencil-Regular.ttf);
}

.logo {
    font-family: "AllertaStencil";
    font-size: 35px;
}

.logo .first-letter {
    color: #A18A68;

}

/* Main body styles */

.hero-container {
    padding-top: 1rem;

}

.hero-container img {
    border-radius: 2rem;
}

p, h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

a.right {
    font-size: 1rem;
    float: right;
    color: #A18A68;
}
